<div class="admin-container">
  <mat-card class="admin-content">

    <mat-card-header>
      <mat-card-title>
        <span class="title">Administration Panel</span>
        <span class="subtitle">(User: {{ username }})</span>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="admin-invitation-container">
        <button mat-raised-button *ngIf="isAdmin" (click)="generateInvitation()">Generate Invitation Code</button>
      </div>
    </mat-card-content>

  </mat-card>
</div>
