<div class="about-container">
  <mat-card class="about-content">

    <mat-card-header>
      <mat-card-title>
        <span class="title">About Web OCR</span>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="about-body-container">

        <mat-card class="about-card">
          <span class="about-card-title"><mat-icon>subtitles</mat-icon> Overview</span>
          <span class="about-card-text">Web OCR is a web application that uses Azure AI services to extract text from images and documents.</span>
          <span class="about-card-text">This tool helps users convert images containing text into editable and searchable content.</span>
        </mat-card>

        <mat-card class="about-card">
          <span class="about-card-title"><mat-icon>apps</mat-icon> Technology Stack<a mat-button href="https://github.com/NightPhantom/web-ocr" target="_blank">Source</a></span>
          <mat-list role="list">
            <mat-list-item role="listitem"><mat-icon>arrow_right</mat-icon>Frontend: Angular with Material UI</mat-list-item>
            <mat-list-item role="listitem"><mat-icon>arrow_right</mat-icon>Backend: ASP.NET Core</mat-list-item>
            <mat-list-item role="listitem"><mat-icon>arrow_right</mat-icon>OCR Processing: Azure AI Computer Vision</mat-list-item>
          </mat-list>
        </mat-card>

        <mat-card class="about-card">
          <span class="about-card-title"><mat-icon>portrait</mat-icon> Author</span>
          <span class="about-card-text">Andres Costa, Software Engineer. Call me Andy. <a mat-button href="https://github.com/NightPhantom" target="_blank">Github</a> <a mat-button href="https://www.linkedin.com/in/andres-costa-806b56296/" target="_blank">LinkedIn</a></span>
          <span><a href="https://www.buymeacoffee.com/AndyCosta" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;"></a></span>
        </mat-card>
      </div>
    </mat-card-content>

  </mat-card>
</div>
