/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

/*#region Header*/
.title {
  margin-right: 10px;
  font-size: var(--mat-sys-title-large-size);
}

.subtitle {
  display: inline-block;
  font-size: var(--mat-sys-title-small-size);
}

mat-toolbar {
  background-color: var(--mat-sys-primary-container);
  height: 80px;
  width: 100%;
}

mat-toolbar-row {
  background-color: var(--mat-sys-primary-container);
}

mat-toolbar-row {
  padding: 0 16px;
}
/*#endregion Header*/

mat-form-field.login-input {
  width: 400px;
  margin: 16px;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-title {
  color: var(--mat-sys-primary);
}

.file-upload-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  box-shadow: var(--mat-sys-level5);
  padding: 20px;
}

.file-name {
  font-size: var(--mat-sys-label-medium-size);
  color: var(--mat-sys-outline);
}

.image-preview-container {
  margin-top: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: var(--mat-sys-level5);
  padding: 20px;
}

.image-preview {
  max-width: 100%;
  min-width: 50%;
  height: auto;
  border: 4px solid var(--mat-sys-outline);
  border-radius: 8px;
}

.ocr-result-container {
  color: var(--mat-sys-primary);
  margin-top: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--mat-sys-level5);
  padding: 20px;
}

mat-card.ocr-result-card {
  color: var(--mat-sys-on-surface);
  border: 4px solid var(--mat-sys-outline);
  position: relative;
  padding: 2rem;
}

.ocr-result-header {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.ocr-result-text {
    white-space: pre-wrap;
}
